@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&family=Noto+Serif+TC:wght@200&display=swap');
$font-main:'Noto Sans TC';
$base:10px;
$baseM:$base*2;
$baseL:$base*5;
$timeMin:0.5s;
@mixin css3-transition() {
    transition: $timeMin;
    -moz-transition: $timeMin;
    -webkit-transition: $timeMin;
    -o-transition: $timeMin;
    }


.red{
    background-color:red;
}
p{
    margin: 0 0 2em 0;
    font-size: 1rem;
    line-height: 2.5rem;
}
// project
.project-info{ 
    
    border: 1px solid #aaa;
    padding:1em;
    
    & > p{
        line-height: 2em;
        font-size: 12px;
        margin: 1em 0px;
        &:first-child{
            margin-top: 0px;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    &.left {
        border:none;
        span{ display: block;}
        .fb-comments > span > iframe{ height: 300px;}
        .fb_iframe_widget{ margin-bottom: 0.75rem;}
    }
}


/*==================== NAVIGATION ======================*/
#footer{
    background-color: #333333;
    ul{
        text-align: center;
    color:white;
    padding: 25px 0;
    font-weight: 400;
    text-shadow:0px 2px #000;
    letter-spacing: 4px;
    margin: 0;
    font-size: 0.8rem;
        opacity: 0.5;
        font-family: $font-main;
        li{
            padding:0px 25px;
            display: inline;
            border-right: 1px solid rgba(225,225,225,0.3);
            &:last-child{
                border: none;
            }
            b{
                letter-spacing: 0px;
                font-weight: 400;
            }
        }

    }
}
.tran{
    @include css3-transition(); 
}
.portfolio{
    .pItem{
        a{
            @include css3-transition(); 
            &:hover{
                img{
                    opacity: 0.75;
                    @include css3-transition(); 
                }
            }
        }
    }
}
.back2top{
    bottom: 80px;
    opacity: 0.5;
    @include css3-transition();
    div.img{
        display: inline-block;
        background-image: url("../images/236x54/trianglelogo-B.png");
        width: 29px;
        height: 23px;
        background-position: left top;
        background-size: cover;
    }
    &:hover{
        color:inherit;
        opacity: 1;
        @include css3-transition();
        
    }
}
.TriMenu{
    position: fixed; ;
    z-index: 1208;
    top: 110px;
    @include css3-transition();
    .mainMenu{
        .cht{
            font-size: 0.9rem;
            font-weight: 400;
            letter-spacing: 0.25rem;
            opacity: 0;
            @include css3-transition();
            position: absolute;
            left: 0;
            padding-top: 2px;
            display: none;
        }
        li{
            height: 45px;
        }
        a{
            height: 45px;
            display: block;
            padding-top: $base;
         padding-bottom: $base;
            color: inherit;
            width: 100px;

            &:hover{
                .cht{
                    display: inline;
                    opacity: 1;
                    
                }
                .en{
                    display:none;
                    opacity: 0;
                }
            }
        }
    }
  }
#trilogo{
    width: 100%;
    position: fixed;
    top: 0;
    z-index:9; 
    padding-top: $baseL;
    padding-bottom: $baseL;
    .letterX{
        width: 14px;
        position: absolute;
        left: 180px;
        top: $baseL + $baseM/4;
        opacity: 0.5;
    }
}
#navigation{
    height: 130px; 
    
}
.mr-t-s{ margin-top: $base; }
.mr-t-m{ margin-top: $baseM; }
.mr-t-L{ margin-top: $baseL; }
.mr-b-s{ margin-bottom: $base; }
.mr-b-m{ margin-bottom: $baseM; }
.mr-b-L{ margin-bottom: $baseL; }
.openMenu{
    display: none;
    z-index: 99999;
    position: relative;
    cursor: pointer;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    p{
        font-size: 1.25rem !important ;
    }
    #trilogo{
        padding-top: $baseM*2;
        padding-bottom: $baseM*2;
        .letterX{
            top: $baseM*2 + $baseM/4;
        }
    }
    #footer{
        ul{
            li{
                padding: 5px 0px;
                display: block;
                border:none;
            }
        } 
    }
    .back2top{
        position: fixed;
        left: 1rem;
        bottom:  1rem;
    }
    .openMenu{
        width: 25px;
        display: block;
        position: fixed;
        right: 15px;
        top: $baseM*2;
    }
    .TriMenu{
        @include css3-transition(); 
        display: none;
        background-color: rgba(0,0,0,0.8);
        top:0px;
        right:0px;
        height: 100vh;
        #jspCloseMenu{
            background-image: url("../images/letter-x-white.svg");
            background-size:contain;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            display: block;
            margin: 2rem auto;
        }
        ul.mainMenu{
            width: 200px;
            
          li{
            display: block;
            float: left;
            width: 100%;
            height: 45px;
              a{
                  height: 45px;
                  color:white;
                  display: block;
                  float: left;
                  width: 100%;
                  border-bottom: 1px solid rgba(255,255,255,0.1);
                    text-align: center;
                    &:active{
                        background-color: rgba(255,255,255,0.1);
                    }.cht{
                        padding-top: 0px;
                    }
                }
              span{
                  text-align: center;
                  display: block;
                  float: left;
                  width: 100%;
                  &.cht{
                      position: relative;
                      
                  }
              }
              &:nth-child(6){
                a{
                    border: none;
                  }
            }
              &:nth-child(8){
                  margin-top: 50px;
              }
              &:last-child{
                  a{
                    border: none;
                  }
              }
          }  
        }

    }

 }