@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;700&family=Noto+Serif+TC:wght@200&display=swap');
/*================= BASIC ===================*/
body{ background-color: #DCDCDD; font-family: 'Noto Sans TC', sans-serif; font-weight: 100;}
a, a:hover, a:visited{  text-decoration: none;}
a.logo{
  background-image: url("../images/236x54/trianglelogo-B.png");
  width: 300px;
  height: 25px;
  display: inline-block;
  background-size: 50%;
  background-repeat: no-repeat;

}
/*================= MENU ===================*/

ul.mainMenu{
  list-style: none;
  padding-left: 0px;
}
ul.mainMenu > li{

  font-family: 'Segoeui';
}

/*==============================*/
.listitem{font-size: 0.8rem; display: block; font-size: 12px;}
.listitem > img{ display: block;}
.listitem > p{ display: block; text-align: right; }
.listitem > p:nth-child(2){ margin-bottom: 0.75rem;}
/*================= TEAM ===================*/
.TM_img{ min-width: 250px; min-height: 175px; display: block;}




/*=====================================================*/

hr.mini{ margin: 1rem 0;}
hr.middle{ margin: 3rem 0;}
hr.max{ margin: 5rem 0;}

.green{ color: green;}
.bgGrey{ background-color:Grey; }
.bgTea{ background-color:Teal; }
@font-face {
  font-family: 'Segoeui';
  src:url('../fonts/segoeui.ttf') format("truetype");
}
hr{  margin: 2rem 0;}
.hideThis{visibility: hidden;}

.project-info{ font-size: 12px;  }

.project-info.left > span{ display: block;}

  .fb-comments > span > iframe{ height: 300px;}
  .fb_iframe_widget{ margin-bottom: 0.75rem;}
